
.container{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    border: 0.5px solid #edebeb;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    font-family: cursive;
    color: rgb(46, 46, 14);
    text-decoration-color: #edebeb;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-image: url(https://st3.depositphotos.com/2130737/15041/i/450/depositphotos_150414820-stock-photo-background-and-texture-of-fabric.jpg);
    background-size: cover; 
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    text-align: center;
    color: rgb(46, 46, 14);
    font-family: cursive;
}

p {
    text-align: center;
    color: rgb(46, 46, 14);
    font-size: 18px;
    margin-top: 10px;
    font-family: cursive;
}

